<h2 style="margin-top:60px;color:#fff">Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email , :style=>'color:#fff'%><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password , :style=>'color:#fff'%><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation , :style=>'color:#fff'%><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" , :class=>'btn btn-primary'%></div>
<% end %>
<%= link_to "Back to Login", sign_in_path, :class=> 'btn'%>

<%= render "devise/shared/links" %>
